* {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", "Inter", Arial, Helvetica, sans-serif;
}

.topline {
    margin-top: 0;
    background-color: #f2005a;
    color: white;
    height: 5px;
}

.header1 {
    margin-top: 0;
    background-color: #007a44;
    color: white;
    height: 50px;
    align-content: center;
}

.header2 {
    margin-top: 0;
    background-color: #2c00a2;
    color: white;
    height: 50px;
    width: 100%;
    align-content: center;
}

.headerlinks {
    margin-left: 72.7px;
    font-size: large;
    font-weight: bold;
}

.headerlinks a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

.headerlinks a:hover{
    color: white; /*
    background-color: #ffffff22; */
    text-decoration: underline;
}

.logo {
    margin-top: 10px;
    margin-left: 5px;
}

main {
    color: black;
    margin-top: 10px;
}